<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-12 text-primary ">
    <h1 class="page-header">Songs from {{playlist.name}} playlist</h1>
  </div>
  <div class="col-md-12 col-xs-12">
    <div class="col-md-12 flex col-xs-12">

      <div class="tile w3-blue-grey" ng-repeat="x in songs">
        <div class="w3-blue w3-container" style="min-height:50px; padding-top:20px;" ng-click="playThisSong(x.path)">{{getName(x.path)}}</div>
        <div class="w3-yellow w3-container" style="min-height:110px; margin-top:-10px; font-size:60; z-index:-1; overflow:hidden;">A</div>

       <!--  <audio class="form-control" style="min-height:40px; padding:0; display:block; vertical-align:bottom;" controls src="{{'../server/'+x.path}}"></audio> -->
    </div>

  </div>
</div>

</div>
